// APP BANNER CAROUSEL STARTS
.app-carousel-wrapper {
  position: relative;
  padding-top: 38%;
  overflow: hidden;

  // CAROUSEL STARTS
  .carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    // CAROUSEL INNER STARTS
    .carousel-inner {
      height: 100%;

      // CAROUSEL ITEM STARTS
      .carousel-item {
        height: 100%;

        // APP CAROUSEL IMAGE STARTS
        .app-carousel-image {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
        // APP CAROUSEL IMAGE ENDS

        // CAROUSEL CAPTION STARTS
        .carousel-caption {
          background-color: #0000008f;
          color: #fff;
        }
        // CAROUSEL CAPTION ENDS
      }
      // CAROUSEL ITEM ENDS
    }
    // CAROUSEL INNER ENDS

    // CAROUSEL LEFT & RIGHT CONTROLS STARTS
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 5px;
    }
    // CAROUSEL LEFT & RIGHT CONTROLS ENDS
  }
  // CAROUSEL ENDS
}
// APP BANNER CAROUSEL ENDS

// MEDIA QUERIES STARTS
@media (max-width: 565px) {
  // APP BANNER CAROUSEL STARTS
  .app-carousel-wrapper {
    position: relative;
    padding-top: 70%;
    overflow: hidden;

    // CAROUSEL STARTS
    .carousel {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      // CAROUSEL INNER STARTS
      .carousel-inner {
        height: 100%;

        // CAROUSEL ITEM STARTS
        .carousel-item {
          height: 100%;

          // APP CAROUSEL IMAGE STARTS
          .app-carousel-image {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
          // APP CAROUSEL IMAGE ENDS

          // CAROUSEL CAPTION STARTS
          .carousel-caption {
            background-color: #0000008f;
            color: #fff;
          }
          // CAROUSEL CAPTION ENDS
        }
        // CAROUSEL ITEM ENDS
      }
      // CAROUSEL INNER ENDS

    }
    // CAROUSEL ENDS
  }
  // APP BANNER CAROUSEL ENDS
}
// MEDIA QUERIES ENDS
