// CATEGORY PAGE STARTS
.category-page-section {
  // CATEGORY PAGE WRAPPER STARTS
  .category-page-wrapper {
    max-width: 1900px;
    margin: auto;
    padding: 20px 5px;

    // CATEGORIES GRID STARTS
    .category-page-grid {
      display: grid;
      grid-template-columns: repeat(4, 25%);

      // CATEGORY ITEM STARTS
      .category-item {
        padding: 5px;

        // CATEGORY CARD STARTS
        .category-card {
          box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.2);
          transition: 0.2s ease-in-out;

          // IMAGE AREA STARTS
          .image-area {
            display: block;
            position: relative;
            width: 100%;
            padding-top: 100%;
            overflow: hidden;

            // IMAGE STARTS
            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
              transition: 0.4s ease-in-out;
            }
            // IMAGE ENDS
          }
          // IMAGE AREA ENDS

          // CONTENT AREA STARTS
          .content-area {
            padding: 10px;

            // TITLE STARTS
            .title {
              font-size: 14px;
              font-weight: 600;
              color: #000;
              text-decoration: none;
              display: block;
            }
            // TITLE ENDS

            // DESCRIPTION STARTS
            .desc {
              font-size: 12px;
              font-weight: 500;
              margin-bottom: 5px;
            }
            // DESCRIPTION ENDS

            // PRICE SECTION STARTS
            .price {
              font-size: 16px;
              font-weight: 700;
              color: green;
              margin-bottom: 0;
            }
            // PRICE SECTION ENDS
          }
          // CONTENT AREA ENDS

          // CARD HOVER EFFECT STARTS
          &:hover {
            box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.5);

            // IMAGE AREA STARTS
            .image-area {
              // IMAGE STARTS
              img {
                transform: scale(1.1);
              }
              // IMAGE ENDS
            }
            // IMAGE AREA ENDS
          }
          // CARD HOVER EFFECT ENDS
        }
        // CATEGORY CARD ENDS
      }
      // CATEGORY ITEM ENDS
    }
    // CATEGORIES GRID ENDS
  }
  // CATEGORY PAGE WRAPPER ENDS
}
// CATEGORY PAGE ENDS

/* MEDIA QUERIES STARTS */

@media (max-width: 992px) {
  // CATEGORY PAGE STARTS
  .category-page-section {
    // CATEGORY PAGE WRAPPER STARTS
    .category-page-wrapper {
      // CATEGORIES GRID STARTS
      .category-page-grid {
        display: grid;
        grid-template-columns: repeat(3, 33.33%);
      }
      // CATEGORIES GRID ENDS
    }
    // CATEGORY PAGE WRAPPER ENDS
  }
  // CATEGORY PAGE ENDS
}

@media (max-width: 767px) {
  // CATEGORY PAGE STARTS
  .category-page-section {
    // CATEGORY PAGE WRAPPER STARTS
    .category-page-wrapper {
      // CATEGORIES GRID STARTS
      .category-page-grid {
        display: grid;
        grid-template-columns: repeat(2, 50%);
      }
      // CATEGORIES GRID ENDS
    }
    // CATEGORY PAGE WRAPPER ENDS
  }
  // CATEGORY PAGE ENDS
}

@media (max-width: 565px) {
  // CATEGORY PAGE STARTS
  .category-page-section {
    // CATEGORY PAGE WRAPPER STARTS
    .category-page-wrapper {
      padding: 5px;
    }
    // CATEGORY PAGE WRAPPER ENDS
  }
  // CATEGORY PAGE ENDS
}

@media (max-width: 360px) {
  // CATEGORY PAGE STARTS
  .category-page-section {
    // CATEGORY PAGE WRAPPER STARTS
    .category-page-wrapper {
      padding: 5px;

      // CATEGORIES GRID STARTS
      .category-page-grid {
        grid-template-columns: repeat(1, 100%);
      }
      // CATEGORIES GRID ENDS
    }
    // CATEGORY PAGE WRAPPER ENDS
  }
  // CATEGORY PAGE ENDS
}

/* MEDIA QUERIES ENDS */
