// APP PRODUCTS GRID STARTS
.app-products-grid-wrapper {
  // PRODUCTS GRID STARTS
  .products-grid {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    padding: 10px 5px;

    // GRID ITEM STARTS
    .grid-item {
      margin: 5px;
    }
    // GRID ITEM ENDS
  }
  // PRODUCTS GRID ENDS
}
// APP PRODUCTS GRID ENDS

// MEDIA QUERIES STARTS
@media (max-width: 1200px) {
  // APP PRODUCTS GRID STARTS
  .app-products-grid-wrapper {
    // PRODUCTS GRID STARTS
    .products-grid {
      grid-template-columns: repeat(3, 33.33%);
    }
    // PRODUCTS GRID ENDS
  }
  // APP PRODUCTS GRID ENDS
}

@media (max-width: 767px) {
  // APP PRODUCTS GRID STARTS
  .app-products-grid-wrapper {
    // PRODUCTS GRID STARTS
    .products-grid {
      grid-template-columns: repeat(2, 50%);
    }
    // PRODUCTS GRID ENDS
  }
  // APP PRODUCTS GRID ENDS
}

@media (max-width: 360px) {
  // APP PRODUCTS GRID STARTS
  .app-products-grid-wrapper {
    // PRODUCTS GRID STARTS
    .products-grid {
      grid-template-columns: repeat(1, 100%);
    }
    // PRODUCTS GRID ENDS
  }
  // APP PRODUCTS GRID ENDS
}
// MEDIA QUERIES ENDS
