// TRENDING BOX CAROUSEL STARTS
.trending-boxes-wrapper {
  margin-bottom: 30px;
  .trending-boxes-carousels {
    padding: 20px 5px;
  }
}
// TRENDING BOX CAROUSEL ENDS

// MEDIA QUERIES STARTS
@media (max-width: 565px) {
  // TRENDING BOX CAROUSEL STARTS
  .trending-boxes-wrapper {
    margin-bottom: 0px;
  }
  // TRENDING BOX CAROUSEL ENDS
}
// MEDIA QUERIES ENDS
