.banner-carousel-wrapper {
  height: 200px;
}

.banner-carousel-wrapper .carousel-item {
  height: 200px;
}

.banner-carousel-wrapper .carousel-item .carousel-image {
  width: 100%;
  height: 100%;
}
