@import "./../../../scss/variable";

.section-header-1 {
  text-align: center;
  padding: 10px;

  p {
    color: $THEME_TEXT_COLOR;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 0;
    position: relative;
    display: inline-block;
    padding: 0 10px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translateY(-50%);
      width: 40px;
      height: 2px;
      background-color: $THEME_TEXT_COLOR;
    }

    &::before {
      right: 100%;
      left: unset;
    }
  }

  h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0;
  }
}
