.app-carousel-wrapper .app-carousel-image {
  display: block;
  width: 100%;
}

.app-carousel-wrapper .carousel-control-next-icon,
.app-carousel-wrapper .carousel-control-prev-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}