@import "./../../../scss/variable";

// HEADER 2 STARTS
.header-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;

  // TITLE AREA STARTS
  .title-area {
    h2 {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 0;

      span {
        color: $THEME_COLOR;
      }
    }
  }
  // TITLE AREA ENDS

  // ACTION BUTTON AREAS STARTS
  .action-button-area {
    width: 100%;
    max-width: 400px;
    display: flex;

    .trending-option {
      margin-left: 8px;
      width: 100%;
      font-size: 14px;
      font-weight: 500;
      background-color: $THEME_LIGHT_COLOR;

      &.selected {
        background-color: $THEME_COLOR;
        color: #fff;
      }
    }
  }
  // ACTION BUTTON AREAS ENDS
}
// HEADER 2 ENDS
