@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #fff;
  color: #000;
}

/* WEBSITE LOGO STARTS */
.v-logo {
  font-family: 'Sofia', cursive !important;
  color: #fff;
  margin-bottom: 0;
}

.v-logo span {
  font-family: inherit;
  color: #ff0303;
  line-height: 0px !important;
}

/* WEBSITE LOGO ENDS */

/* SECTION HEADING STARTS  */
h4.section-heading {
  font-size: 20px;
  text-align: center;
  padding: 10px 5px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0;
}

/* SECTION HEADING ENDS  */

/* SECTION SPACING STARTS  */
section.section {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* SECTION SPACING ENDS  */