// THEME ROOT VARIABLES STARTS
$THEME_COLOR:#ff6300;
$THEME_LIGHT_COLOR: #fffae6;
// THEME ROOT VARIABLES ENDS



// SKELETON LOADING VARIABLES START
$SKELETON_LOADING_ANIMATION: skeleton_loading 1s linear infinite alternate;
// SKELETON LOADING VARIABLES ENDS