// THEME ROOT VARIABLES STARTS
$THEME_COLOR:#ff6300;
$THEME_LIGHT_COLOR: #fffae6;
// THEME ROOT VARIABLES ENDS

// SECTION WISE WIDTH STARTS 
$CONTAINER_MAX_WIDTH: 1800px;
// SECTION WISE WIDTH ENDS 


// SKELETON LOADING VARIABLES START
$SKELETON_LOADING_ANIMATION: skeleton_loading 1s linear infinite alternate;
// SKELETON LOADING VARIABLES ENDS